<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loyltworks.mandelapremium">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MandelaPremium"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.LocationActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.raffle.RaffleActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.help.feedback.FeedbackActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.notification.HistoryNotificationActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.programinformation.ProgramInformationActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.SplashScreen.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.scanner.ScannerActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.MyActivity.MyActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.OfferAndPromotion.OfferAndPromotionActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.BuyAndGift.BuyGiftDetailsActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.BuyAndGift.BuyGiftActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.GiftCards.fragment.GiftReceived.GiftReceivedDetailsActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.GiftCards.fragment.MyVoucher.MyVoucherDetailsActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.GiftCards.GiftCardsActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.OfferAndPromotion.OfferPromotionDetailsActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.Login.LoginActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.help.CustomerServiceActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.help.newTicket.NewTicketActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.help.help_topic_chat_status.QueryChatActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.help.supportLisitng.MyQueryActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.help.HelpActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MandelaPremium.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCYUMJ1is0QOh9j65c5xgJpeULnOMBrdOU" />

        <activity
            android:name=".ui.forceUpdateAndMaintenance.MaintenanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forceUpdateAndMaintenance.ForceUpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>